<div id="footer">
  <div class="footer-social-icons">
    <span><a href="/"><img src="assets/img/facebook.png"></a></span>
    <span><a href="/"><img src="assets/img/twitter.png"></a></span>
    <span><a href="/"><img src="assets/img/instagram.png"></a></span>
  </div>
  <div class="main-footer-links">
    <span><a href="/">Home</a></span>
    <span><a href="/">About</a></span>
    <span><a href="/">Story</a></span>
    <span><a href="/">Contact</a></span>
  </div>
  <div class="secondary-footer-links">
    <span><a href="/">Privacy Policy</a></span>
    <span><a href="/">Sitemap</a></span>
  </div>
</div>